html {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: Inter,ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,"Noto Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

body{
    background:
           /* top, transparent black, faked with gradient */ 
           linear-gradient(
             rgba(10, 10, 12, 0.9), 
             rgba(10, 10, 12, 0.9)
           ),
           /* bottom, image */
           url(bg.webp);
}

::-webkit-scrollbar {
    display: none;
    visibility: hidden;
    opacity: 0
}

.spotifyPanel {
    transition: 0.3s;
    animation-name: init;
    animation-duration: 1s;
    border-radius: 10px;
    padding: 15px;
    background-color: #0f0f12;
    box-shadow: rgba(0, 0, 0, 0.500) 0 2px 8px;
    border: 1.5px solid hsla(0, 0%, 76%, 0.020);
    width: 400px;
    height: 75px;
}

@keyframes init {
    0%   {
        opacity: 0.0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1.0;
        transform: translateY(0%);
    }
}

.trackImg {
    transition: 0.3s;
    margin-right:15px;
    float: left;
    border-radius: 10px;
    width: 75px;
    height: 75px;
    cursor: pointer;
}

.trackName {
    color: #fff;
    margin-top: 5px;
}

.trackArtist {
    margin-top: -13px;
    font-size: 12.5px;
    color: #747474;
}

.discordPanel {
    transition: 0.3s;
    animation-name: init;
    animation-duration: 1s;
    border-radius: 10px;
    padding: 15px;
    background-color: #0f0f12;
    box-shadow: rgba(0, 0, 0, 0.500) 0 2px 8px;
    border: 1.5px solid hsla(0, 0%, 76%, 0.020);
    width: 400px;
    height: 75px;
}

.discordAvatar {
    margin-right:15px;
    float: left;
    border-radius: 10px;
    width: 75px;
    height: 75px;
}

.discordName {
    color: #fff;
    margin-top: 5px;
}

.discordMotd {
    margin-top: -13px;
    font-size: 12.5px;
    color: #747474;
}

.statusCircle {
    border-radius: 100%;
    width: 15px;
    height: 15px;
    position: absolute;
    margin-left: 60px;
    margin-top: 60px;
    background-color: #0f0f12;
    border: 5px solid #0f0f12;
}

.rpcPanel {
    transition: 0.3s;
    animation-name: init;
    animation-duration: 1s;
    border-radius: 10px;
    padding: 15px;
    background-color: #0f0f12;
    box-shadow: rgba(0, 0, 0, 0.500) 0 2px 8px;
    border: 1.5px solid hsla(0, 0%, 76%, 0.020);
    width: 400px;
    height: 75px;
}

.rpcIcon {
    margin-right:15px;
    float: left;
    border-radius: 10px;
    width: 75px;
    height: 75px;
}

.rpcSmallIcon {
    border-radius: 100%;
    margin-left: 60px;
    margin-top: 60px;
    position: absolute;
    width: 25px;
    height: 25px;
}

.rpcName {
    color: #fff;
    margin-top: 5px;
}

.rpcDetails {
    margin-top: -13px;
    font-size: 12.5px;
    color: #747474;
}

.center {
    top:50%;
    left: 50%;
    transform: translate3d(-50%,-50%, 0);
    position: absolute;
}

.nameMain {
    text-shadow: rgba(0, 0, 0, 0.500) 0 2px 8px;
    animation-name: init;
    animation-duration: 1s;
    color: #fff;
    font-weight: 500;
    font-size: 30px;
}

.smallerMain {
    text-shadow: rgba(0, 0, 0, 0.500) 0 2px 8px;
    animation-name: init;
    animation-duration: 1s;
    margin-top: -25px;
    color: #747474;
    font-weight: 500;
    font-size: 15px;
    max-width: 400px;
}

.nameNeksio {
    text-shadow: none!important;
    background: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
}

.gap {
    margin-top: 7.5px;
}

.clock {
    margin-top: 2px;
}

.clockContainer {
   opacity: 0.3;
   padding: 15px; 
   color: #747474;
}


.spotify {
    font-size: 20px;
    float: right;
    color: #1DB954;
}

.discord {
    font-size: 20px;
    float: right;
    color: #5865F2;
}

.game {
    font-size: 20px;
    float: right;
    color: #747474;
}

img {
    transition: 0.3s;
}

@media screen and (max-width: 1200px) {
    .panel {
        width: 300px;
    }

    .smallerMain {
        max-width: 300px;
    }
}


