
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
}

.activity {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 12px;
    grid-template-columns: max-content;
    width: 100%;
    padding: 4px;
    color: white;
}


.activity ul {
    list-style: none;
    margin-left: 0px;
    margin-top: 0;
}


.lastfmactivity {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 12px;
    grid-template-columns: max-content;
    width: 100%;
    padding: 4px;
    color: white;
}


.lastfmactivity ul {
    list-style: none;
    margin-left: 0px;
    margin-top: 0;
}

#activities {
    display: inline-block;
    padding-left: 0%;
    width: 100%;
    height: fit-content;
    background: rgba(77, 31, 146, 0);
}


.assets-images {
    position: relative;
  }
  
.large-image {
    border-radius: 10px;
    position: relative;
  }
  
.small-image {
    border-radius: 10px;
    position: absolute;
    top: 50px;
    right: 3px;
    border: 1px solid #000000;
  }

#type {
    font-weight: bold;
    font-size: 10px;
    color: #fa5e43;
}

#name {
    font-weight: 500;
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

#details {
    font-size: 12px;
    color: #cccccc;
}

#state {
    font-size: 12px;
    color: #cccccc;
}

#time {
    font-size: 10px;
    color: #cccccc;
}





.spotify-thumbnail {
    border-radius: 10px;
    position: relative;
}

.spotifylink-image {
    border-radius: 10px;
    position: absolute;
    top: 41px;
    right: -6px;
    cursor:pointer;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
  }

#spotify-ing {
    font-weight: bold;
    font-size: 10px;
    color: #1cb853;
}

#media-ing {
    font-weight: bold;
    font-size: 10px;
    color: #b17bf8;
}

#spotify-songname {
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.progress-bar {
    margin-top: 5px;
    height: 4px;
    width: 100%;
    max-width: 300px;
    background: #ffffff21;
    border-radius: 10px;
    vertical-align: middle;
  }
  
.fill {
    background-color: #1cb853;
    height: 4px;
    border-radius: 10px;
  }
  
#spotify-time {
    -webkit-text-stroke: 0px rgb(0, 0, 0);
    position: relative;
    left: 5px;
    margin-top: 0rem;
    font-weight: lighter;
    font-size: 10px;
    color: #d9f7da;
}

#spotify-artist {
    font-size: 12px;
    color: rgba(255, 127, 80, 0.781);
}

#spotify-album {
    font-size: 12px;
    color: #cccccc;
}

#spotify-lastfm {
    font-size: 6px;
    color: #aaa8a8;
}












